/*.divone{
  background-image:url(download.jpg);
  width:300pt;
  height:400pt;
  border-style:solid dashed solid dashed;
    border-width:10px 5px 12px 15px ;
background-repeat:no-repeat;
border-color: yellow green #000000 #ff0000;
}*/
/*p{ border-left:5pt solid red ;
  background-color:#D5CDE8
;
}
