/* form{margin: auto;
border: 2px solid teal;
width: 700px;
margin: 10% 30%;
padding: 20px;
text-align: center;
background-color: teal;
color: rgba(255, 255, 255, 0.555);
}

form input{margin-left: 30px;
padding: 10px;}



.container {border:3px solid teal;
width:400px;
height: 250px;
margin: auto;
align-items: center;
justify-content: center;
padding: 70px 0px 0px 170px;
border-bottom: none;
border-right: none;
}

.greatthing input {
padding: 16px;
outline: none;
border: 1px solid teal;
}

.greatthing button{margin-left: 10px;
background-color: teal;
color:white
}

input::placeholder{color: grey;}

ol li {border: 2px solid white;
background-color: teal;
counter-increment: my-counter;
width:400px;
padding:16px
}

ol li ::before{content:counter( my-counter);

background-color: teal;
border: 1px solid teal;
border-radius: 50%;
padding: 10px;
display: inline-block;
}

$purple: #3D4399;
$background: #535F82;
$muted: #737373;
$white: #ffffff;
$button-font-size: 0.6rem;

*{
  padding: 0px; 
  margin: 0px;
}

#wrapper{
  background:$background; 
  width: 100%; 
  height: 100vh
}
.card{
  border-radius: 0.5rem; 
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.39); 
  position: absolute; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  padding: 1.5rem; 
  width: 90%;
  img{ 
    border: 3px solid $purple;
  }
  h4{
    color: $muted; 
    font-family: Helvetica, sans-serif; 
    font-weight: bold; 
    letter-spacing: -0.1rem;
    padding-bottom: 0.5rem;
  }
  textarea{
    width: 100%; 
    background: #eee; 
    outline: none; 
    border: none; 
    padding: 0.5rem; 
    resize: none; 
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.19); 
    border-radius: 2px;
    margin-bottom: 0.3rem;
    color: $muted;
  }
  button{
    background: $purple; 
    color: $white; 
    padding: 0.3rem 0.5rem; 
    border-radius: 0.4rem; 
    font-size: $button-font-size; 
    text-transform: uppercase; 
    font-weight: light; 
    letter-spacing: 2px; 
    border: none; 
    cursor: pointer; 
    outline: none;
    &:hover{
      background: #989898;
      transition: all 1s;
    }
  }
  ul{
    border-top: 1px solid $muted;
    padding-top: 15px;
    margin-top: 15px;
  }
  li{
   list-style: none; 
   display: inline-block;
   padding-right: 25px;
   cursor: pointer;
    &:hover{opacity: 0.4; transition: color 3s;}
  }
  li.like::after{
    font-family: 'Font Awesome 5 Free';
    content: "\f164";
    visibility: visible;
    font-weight: 900;
    padding-left: 5px;
  }
  li.likeClicked{
    color: $purple;
    &:hover{opacity: 1; cursor: default;}
  }
  li.reply::after{
    font-family: 'Font Awesome 5 Free';
    content: "\f4ad";
    visibility: visible;
    font-weight: 900;
    padding-left: 5px;
  }
}

.statusBox{ 
   background:#eee;
    padding: 1rem; 
    animation-name: fadeIn;
    animation: fadeIn 1.5s;
    border-radius: 5px;
    font-size: 14px;
    color: $muted;
    margin-top: 15px;
      
}
  
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
     opacity: 1;
  }
}

input.removeButton{
    background: $purple; 
    color: #fff; 
    padding: 0.1rem 0.5rem;
    border-radius: 5px;
    cursor: pointer;
      font-size: $button-font-size; 
    text-transform: uppercase; 
    font-weight: light; 
    letter-spacing: 2px; 
       &:hover{
      background: #989898;
      transition: all 1s;
    }
}

.shit{
  background: #eee;
  padding: 10px;
}

.deleteComment{
   float: right;
   cursor: pointer;
  &:hover{
    opacity: 0.3;
    transition: all 1s;
  }
  &::before{
  font-family: 'Font Awesome 5 Free';
    content: "\f2ed";
    visibility: visible;
    font-weight: 900;
  float: right;
  padding-left: 5px;
}
} */